$celeste: #c0fdfbff;

.main {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: contain;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: rgb(17, 17, 17, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: auto;
    background-color: white;
}

.content {
    padding: 50px;

    h1 {
        font-size: 3.5em;
    }

    label {
        font-weight: bold;
        font-size: 1.4em;
    }

    input {
        padding: 20px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        background-color: rgb(17, 17, 17, 0.1)
    }

    button {
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
}

.btnDiv {
    display: flex;
    flex-direction: row;
}

.btnSkip {
    margin-right: 10px;
    background-color: $celeste;
    color: black
}

.btn {
    margin-left: 10px;
    background-color: #5d737eff;
    color: white;

}

.loader::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 12px solid white;
    border-top-color: transparent;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}